.Navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 0 1.5em;
}

.Navigation:first-child {
  margin-left: 0;
}

.Navigation:last-child {
  margin-right: 0;
}

.Navigation > * {
  margin-left: 1em;
  margin-right: 1em;
}