.PrimaryButton {
  padding: var(--button-padding);
  color: var(--custom-white);
  background-color: var(--custom-black);
  font-weight: 500;
  border: 1px solid var(--custom-black);
  border-radius: var(--button-radius);
  transition: all 250ms ease-in-out;
  cursor: pointer;
}

.PrimaryButton:hover {
  color: var(--custom-black);
  background-color: var(--custom-white);
}

.SecondaryButton {
  padding: var(--button-padding);
  color: var(--medium-gray);
  background-color: #FFF;
  font-weight: 500;
  border: 2px solid var(--medium-gray);
  border-radius: var(--button-radius);
  transition: all 250ms ease-in-out;
  cursor: pointer;
}

.SecondaryButton:hover {
  color: var(--custom-black);
  border-color: var(--custom-black);
}

.FullWidthButton {
  cursor: pointer;
  padding: var(--button-padding);
  color: var(--custom-black);
  background-color: var(--custom-white);
  font-weight: 500;
  border: 1px solid var(--custom-black);
  border-radius: var(--button-radius);
  transition: all 250ms ease-in-out;
  width: 100%;
}

.TertiaryButton {
  color: var(--medium-gray);
  background-color: transparent;
  border: 0;
  cursor: pointer;
  transition: all 250ms ease-in-out;
  font-weight: 500;
}

.TertiaryButton:hover {
  color: var(--custom-black);
}

.MenuButton {
  background: transparent;
  border: 0;
  display: flex;
  margin: .25em 0;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.MenuButton .MenuButtonIcon {
  margin-right: 10px;
  width: 15px;
  flex: 0 0 auto;
}

.MenuButton .MenuButtonText {
  color: var(--medium-gray);
  width: auto;
  flex: 0 1 100%;
  text-align: left;
}